.header {
    background: #FFFFFF;
    border-bottom: 1px solid #E6E7EB;
    display: flex;
}

.menu_button {
    border-right: 1px solid #E6E7EB;
    color: #BFC5D1;
    width:51px;
    height: 50px;
}

.menu_button:hover {
    color: #4C84FF;
}

.logo {
    margin-left: 20px;
    line-height: 50px;
}

.user_info {
    display: flex;
}

.notification_button {
    margin-left: auto;
    padding: 20px;
    border-left: 1px solid #E6E7EB;
    color: #BFC5D1;
    width:50px;
    height: 50px;
}

.notification_button:hover {
    color: #4C84FF;
}

.user_info {
    line-height: 50px;
    padding: 0 20px;
    border-left: 1px solid #E6E7EB;
}


.user_image {
    display:flex;
    margin-right: 10px;
}

.user_image img {
    width: 40px;
    height: 40px;
    align-self:center;

}

.user_name {
    align-self: center;
}