.card-content {
    background-color: white;
    border: 1px solid #E6E7EB;
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 5px;
}

.card-stats {
    padding: 30px 30px 20px 30px;
    border-bottom: 1px solid #E6E7EB;
}

.medium-title {
    font-size: 0.9rem;
    padding-bottom: 5px;
    color: #8C94A7;
    font-weight: 500;
    text-transform: uppercase;
}

.large-font {
    font-size: 2em;
    font-weight: bolder;
    padding: 20px 0 0 0;
    color: #1A233C;
}

.currency {
    font-size: 0.9em;
}

.medium-label {
    color: royalblue;
    font-size: 1.1em;
    padding: 5px 0px;
}

.large-button {
    margin: 50px 0px 20px 0px;
    padding: 10px 0px;
    background: #4C84FF;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px 0px #4c84ff8f;
    -moz-box-shadow: 0px 10px 40px 0px #4c84ff8f;
    box-shadow: 0px 10px 40px 0px #4c84ff8f;
}

.large-button:hover {
    cursor: pointer;
    background: #1B6CAA;
}

.btn-label {
    padding: 0px 25px;
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: 2em;
}

.btn-icon {
    color: white;
    float: right;
    padding-right: 10px;
    font-size: 1.5em;
}

.card-footer {
    padding: 40px 30px;
    display: flex;
}

.small-label {
    color: grey;
    flex: 1;
}

.small-label span {
    color: black;
    font-weight: bold;
}