.card-content {
    background-color: white;
    -webkit-box-shadow: -1px 0px 11px 0px rgba(94, 92, 94, 0.54);
    -moz-box-shadow: -1px 0px 11px 0px rgba(94, 92, 94, 0.54);
    box-shadow: -1px 0px 11px 0px rgba(94, 92, 94, 0.54);
    width: 250px;
    height: auto;
    padding: 30px 20px;
    margin: 20px;
}

.card-stats {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(167, 167, 167);
}

.medium-title {
    font-weight: bold;
    font-size: 1.3em;
    padding-bottom: 5px;
}

.large-font {
    font-size: 2em;
    font-weight: bolder;
    padding: 10px 0px;
}

.currency {
    font-size: 0.7em;
}

.medium-label {
    color: royalblue;
    font-size: 1.1em;
    padding: 5px 0px;
}

.large-button {
    margin: 20px 0px;
    padding: 10px 0px;
    background: #4C84FF;
    border-radius: 25px;
    -webkit-box-shadow: -1px 0px 11px 0px rgba(94, 92, 94, 0.54);
    -moz-box-shadow: -1px 0px 11px 0px rgba(94, 92, 94, 0.54);
    box-shadow: -1px 0px 11px 0px rgba(94, 92, 94, 0.54);
}

.large-button:hover {
    cursor: pointer;
    background: #1B6CAA;
}

.btn-label {
    padding: 0px 25px;
    color: white;
    font-size: 1em;
}

.btn-icon {
    color: white;
    float: right;
    padding-right: 10px;
    font-size: 1.5em;
}

.card-footer {
    padding: 25px 5px 5px 5px;
    display: table;
}

.small-label {
    color: grey;
    display: table-cell;
    padding: 5px 5px 10px 10px;
}

.small-label span {
    color: black;
    font-weight: bold;
}